<html>  
<head>  
    <title>upload</title>  
</head>  
<body>  
    <form action = "/uploadfiles" method = "post" enctype="multipart/form-data">  
        <input type="file" name="file" />  
        <input type = "submit" value="Upload">  
    </form>
    <h1>if u found unable to open .docx file check it in google sheets 
        since it is created for development no responsive frontend used
        sizelimit of file is 50KB since its taking more time for big files
     </h1>  
</body>  
</html>  